:root{
--primarycolor:#325243;
--secondarycolo:white;
--lightcolor:#f3f8f6;
--bgcolor-1:#f9ffe9;
--bgcolor-2:#8fcb9c;
--padding: 11%;
}

*{
margin: 0; 
padding: 0;
box-sizing: border-box;
}

html{
    font-family: 'Josefin sans', sans-serif;
    font-size: 16px;
    color: var(--lightcolor);
    }
    
    h1{
        font-size: 4.65rem;
        margin: 1.7rem 0;
        color: #325243;

        
    }

    h2{
        font-size: 2.2em;
        letter-spacing: 0.12rem;
        cursor: pointer;
    }
    
    h3{
        font-size: 1.5rem;
       margin-bottom: 3.5rem;
       color: #325243;
    }
    
    h4{
    font-size: 1.25rem;
    letter-spacing: 0.12rem;
    color: var(--secondarycolor);
    }

h5{
font-size: 1.37rem;
margin-bottom: 1.5rem;
letter-spacing: 2px;
margin-right: 5cm;
}

    span {
        color: var(--primarycolor);
        }

        p{
            color: var(--secondarycolor);
            letter-spacing: 1px;
            line-height: 1.8rem;
            font-size: 1rem;
        }

.home {
width: 100%;
height: 100vh;
background-color: var(--bgcolor-1);
display: flex; 
flex-direction: column;    
transition: 0.4s;   
}





.home .vid{

}





nav {
padding-top: 2.8rem;
padding-left: var(--padding);
padding-right: var(--padding);
display: flex;
justify-content: space-between;
align-items: center;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;

    }

nav ul li a {
        caret-color: #325243;
        text-decoration: none;
        text-transform: capitalize;
        transition: 0.4s;
        }
        
nav ul li a:hover {
    color: var(--primarycolor);
        }

.btn {
background-color: var(--primarycolor);
color: var(--lightcolor);
text-decoration: none;
font-weight: bold;
padding: 0.81rem 1.87rem;
border-radius: 30px;
border: 2px solid transparent;
transition: 0.4s;
}

.btn:hover {
background-color: transparent;
border: 2px solid var(--primarycolor);
}

.content {
    flex-grow: 1;
    padding: 0rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-images{
    width: 99%;
}

.container-texts{
    position: relative;
    bottom: 30px;
}

.social{
    margin-top: 0.5rem;
margin-left: 5.8rem;
}

.social img{
    width: 3.5%;
    transition: 0.4s;
}

.social img:hover{
    transform: scale(1.2);
}

.home .container-images{
width: 45%;
height: 100%;
position: relative;
align-self: flex-end ;
}

.home .container-images img{
    position: absolute;
    bottom: 0px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.team image{
    align-items: center;
}

.home .container-images:hover .Day-amico{
    bottom: 30px;
}

.home .container-images:hover .pic{
    left: 45%;
}


.about{
    background-color: var(--bgcolor-2);
    padding: 1rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.4s;
}

.about .team{
    margin-left: 10.7rem;
}

.about .team-imges{
    width: 55%;
}

.about .team-imges img{

    width: 100%;
    transition: 0.4s;
}

.about .team-imges:hover{
    transform: scale(1.2);
}

.about .team-texts{
    width: 105%;
  
}


.services {
    background-color: var(--bgcolor-1);
    padding: 2rem var(--padding);
}

.text-center{
    text-align: center;
}
 
.card{
    margin-bottom: 3.5rem;
}

.card img{
    margin-right: 6rem;
    width: 71.5%;
    transition: 0.4s;
}

.card img:hover{
    transform: scale(1.2);
}

.box{
    display: flex;
   justify-content: space-between;

}

.card{
    width: 255px;
    background-color: var(--bgcolor-2);
    border-radius: 79px;
    padding: 1.5rem 2rem;
}

.card a {
font-size: 3.12rem;
text-align: center;
color: var(--primarycolor);
margin: 2rem;
}

.skills{
    background-color: var(--bgcolor-2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.skills .cotainer-imges {
    width:35%
}

.skills .cotainer-imges img {
width:90%

}

.skills .continer-skills{
    width: 90%;
}

.content-skills{
    display: flex;
    flex-wrap: wrap;
}

.skill{
    width: 100px;
height: 100px;
background-color: var(--primarycolor);
border-radius: 50%;
margin: 0 2rem 2rem 0;

}

   .skills .cotainer-imges{
        margin-left:45.7rem;
        width: 40%;
        transition: 0.4s;
       
    }
    

    .skills .cotainer-imges:hover{
transform: scale(1.2);    }

